@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: url(assets/images/bg.jpg)no-repeat;
	background-size: cover;
}

table {
	border: 2px solid #000000;
	border-spacing: 0;
	border-collapse: collapse;
	transition: all 0.5s;
}

.clear {
	clear: both;
}

ul {
	list-style-type: none;
}

td {
	border: 1px solid #cfd0f2;
	text-align: center;
	vertical-align: middle;
}

td div {
	color: #000000;
	padding: 10px;
	border: 0;
	text-align: center;
	width: 48px;
	height: 48px;
	font-size: 24px;
	outline: none;
	text-transform: uppercase;
	transition: all 0.5s;
	background-color: #83c015;
}

#game-difficulty {
	text-transform: capitalize;
}

tr:nth-child(3n) {
	border-bottom: 2px solid #cfd0f2;
}

tr:nth-child(3n+1) {
	border-top: 2px solid #cfd0f2;
}

td:nth-child(3n) {
	border-right: 2px solid #cfd0f2;
}

.btn {
	text-align: center;
	border: 1px solid #ef52b0;
	background: #ef52b0;
	color: #fff;
	margin: 7px 0;
	border-radius: 5px;
	padding: 6px 5px;
	cursor: pointer;
	font-size: 16px;
}

.btn:hover {
	border: 1px solid #36399a;
	background: #36399a;
	cursor: pointer;
}

td:nth-child(3n+1) {
	border-left: 2px solid #cfd0f2;
}

.body {
	width: 95%;
	max-width: 800px;
	margin: 30px auto 16px auto;
}

.body h1 {
	color: #fff;
	text-align: center;
	margin: 0 0 20px 0;
	font-weight: 700;
}

.card {
	background: #fff;
	width: fit-content;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
	float: left;
	padding: 32px 32px 32px 32px;
	border-radius: 15px;
}

.status {
	margin-left: 32px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 22px;
}

#game-number {
	font-size: 12px;
	color: gray;
}

.game-status {
	margin: 0 0 0 28px;
	height: 100%;
}

.game-status li {
	margin: 18px 0 0 0;
}

.vertical-adjust {
	margin: 0px 0 5px 0;
}

.vertical-adjust span,
.footer a {
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
}

.option-button {
	display: block;
	margin: 16px 8px 16px 30px;
	width: 130px;
	padding: 8px 10px;
	font-size: 16px;
	border: none;
	outline: none;
	box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.14);
	border-radius: 2px;
	transition: all 0.5s;
	text-align: left;
}

.button {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

tr:nth-child(3n+1) {
	border-top: 2px solid #36399a;
}

tr:nth-child(3n) {
	border-bottom: 2px solid #36399a;
}

td:nth-child(3n+1) {
	border-left: 2px solid #36399a;
}

td:nth-child(3n) {
	border-right: 2px solid #36399a;
}

.timer {
	color: #fff;
	font-size: 23px;
	padding: 10px;
	text-align: center;
	background: #36399a;
	border-radius: 6px;
}

.remain-table {
	position: relative;
	left: 0;
	right: 0;
	display: inline-block;
	margin: auto;
}

.remain-column {
	float: left;
	max-width: 64px;
}

.remain-cell {
	margin: 10px 10px 0px 5px;
	text-align: center;
	border: solid 1px #cfd0f2;
	border-radius: 4px;
}

.remain-cell div {
	padding: 5px 12px;
}

.remain-cell-header {
	color: #36399a;
	font-weight: bold;
}

.remain-cell-header-selected {
	color: #fff;
	background-color: #36399a;
}

.red {
	background: #ff6659;
	color: #9a0007;
}

.gray {
	background: #808080;
	color: #404040;
}

.remain-cell div {
	cursor: pointer;
}

.success {
	background: #55a879;
	color: #fff;
	text-align: center;
	padding: 10px 10px;
}

.success p {
	font-size: 16px;
	line-height: 22px;
	font-family: inherit;
}
